/*

This document is written in BEM.
Block = .block
Element = .block__element
Modifier = .block__element--modifier || .block--modifier

*/

/* Block ******************************************************************/

.background {
  background-image: url(https://s20.postimg.org/a5w8ma28d/laptop-iphone-notebook-computer-macbook-work-1046491-pxhere.com-.jpg);
  background-size:cover;
}

.calculator{
  height: 80%;
  width: 57%;
  max-height: 700px;
  min-height: 500px;
  max-width: 500px;
  min-width: 357px;
  position: absolute;
  top: 50%;
  left: 30%;
  transform: translate(-50%, -50%);
  background-color: rgb(60, 60, 60);
  border: solid 2px black;
  border-radius: 20px;
  -moz-box-shadow:    inset 0 0 10px #000;
  -webkit-box-shadow: inset 0 0 10px #000;
  box-shadow:         inset 0 0 10px #000;
  box-shadow: 1px 1px 1px #000;
  -moz-box-shadow:    1px 1px 1px #000;
  -webkit-box-shadow: 1px 1px 1px #000;
}

/* Element ****************************************************************/
.caclulator__topPart{
  z-index: 2;
  position: absolute;
  left: -1px;
  width: 100%;
  height: 20%;
  background-color: rgb(40, 40, 40);
  border-radius: 20px;
  border: solid 2px black;
}

.calculator__screen{
  height: 60%;
  width: 84%;
  position: absolute;
  top: 30px;
  left: 8%;
  background-color: #e4eabc;
  border-radius: 5px;
  -webkit-box-shadow: inset 0 0 10px #000;
     -moz-box-shadow: inset 0 0 10px #000;
          box-shadow: inset 0 0 10px #000;
  -webkit-box-shadow: 1px 1px 1px #000;
     -moz-box-shadow: 1px 1px 1px #000;
          box-shadow: 1px 1px 1px #000;
  text-align: right;
  z-index: 5;
}

.calculator__row{
position: absolute;
height: 10%;
width: 100%;
display: inline;
}

.calculator__button{
height: 100%;
width: 15%;
position: absolute;
text-align: center;
border: solid 1px black;
border-radius: 5px;
-webkit-box-shadow: inset 0 0 10px #000;
   -moz-box-shadow: inset 0 0 10px #000;
        box-shadow: inset 0 0 10px #000;
cursor: pointer;
}


/* Modifier ***************************************************************/

.caclulator__row--One{
  top: 26%;
}

.caclulator__row--Two{
  top: 39%;
}

.caclulator__row--Three{
  top: 52%;
}

.caclulator__row--double{
  position: absolute;
  height: 23%;
  width: 100%;
  display: inline;
  top: 65%;
}

.calculator__button--half{
  height: 43%;
  text-align: center;
  margin-bottom: 10px;
}

.calculator__button--grey {
  background-color: rgb(150, 150, 150);
}

.calculator__button--red {
  background-color: #e02c2c;
}

.calculator__screen--text {
 font-size: 50px;
 margin-top: 20px;
 margin-right: 10px;
 font-family: sans-serif;
}

.calculator__button--largeText{
  font-size: 40px;
  margin-top: 12px;
}

.calculator__button--smallText {
  font-size: 30px;
  margin-top: 15px;
}

.calculator__button--off {
  left: 6%;
}

.calculator__button--MRC {
  left: 24%;
}

.calculator__button--mMinus {
  left: 42%;
}

.calculator__button--mPlus {
  left: 60%;
}

.calculator__button--divide {
  left: 77%;
}

.calculator__button--percent {
  left: 6%;
}

.calculator__button--seven {
  left: 24%;
}

.calculator__button--eight {
  left: 42%;
}

.calculator__button--nine {
  left: 60%;
}

.calculator__button--multiply {
  left: 77%;
}

.calculator__button--squareRoot {
left: 6%;
}

.calculator__button--four {
  left: 24%;
}

.calculator__button--five {
  left: 42%;
}

.calculator__button--six {
  left: 60%;
}

.calculator__button--subtract {
  left: 77%;
}

.calculator__button--clear {
  left: 6%;
  background-color: #87121;
}

.calculator__button--one {
  left: 24%;
}

.calculator__button--two {
left: 42%;
}

.calculator__button--three {
left: 60%;
}

.calculator__button--plus {
left: 77%;
}

.calculator__button--allClear {
  left: 6%;
  bottom: -6%;
}

.calculator__button--zero {
  left: 24%;
  bottom: -6%;
}

.calculator__button--decimal {
  left: 42%;
  bottom: -6%;
}

.calculator__button--equal {
  left: 60%;
  bottom: -6%;
}

.calculator__button--plusText{
  margin-top: 80%;
}
